
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}





.under {
  -webkit-text-decoration: #1976d2 solid underline;
  text-decoration:  #1976d2 solid underline;
  -webkit-text-underline-position: under;
  text-underline-position: under;
}